<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/static_pages/home">Clone_Instagram_App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline mx-auto my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="検索" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">検索</button>
    </form>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/static_pages/home">ホーム<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-4">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          設定
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">マイプロフィール編集</a>
          <a class="dropdown-item" href="#">パスワードの変更</a>
          <a class="dropdown-item" href="https://help.instagram.com/581066165581870">利用規約</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">ログアウト</a>
        </div>
      </li>
    </ul>
  </div>
</nav>